@import "tailwindcss/base";

@import "tailwindcss/components";

@import "tailwindcss/utilities";

@layer utilities{
  .text-shadow{
    text-shadow: 0 0 .45em rgb(20 184 166), 0 0 .125em hsl(0 0% 100% / 0.5);
  }
  .box-shadow{
    box-shadow: inset 0 0 .5em 0 rgb(20 184 166), 0 0 .5em 0 rgb(20 184 166);
  }
  .text-shadow:hover{
    text-shadow: none;
  }
  .reflection{
    content: "";
    position: absolute;
    background: rgb(20 184 166);
    top: 120%;
    left: 0%;
    width:100%;
    height:100%;

    transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
     filter:blur(1em);
    opacity: .5;
  }
  .reflection:hover{
    opacity: 1;
  }
  .reflection-on{
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 0 0 2em 0.5em rgb(20 184 166);
    opacity: 0;
    background: rgb(20 184 166);
    z-index: -1;
    transition: opacity 100ms linear;
  }
}